@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@400;700&display=swap');


* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #D0D9D7;
	color: #052622;
	font-family: 'Raleway', sans-serif;
	font-size: 16px; /*1m = 16px*/
	line-height: 1.5em;
	margin: 0 auto;
}

header {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
}

.masterhead {
	border-bottom: 1px solid black;
}

nav {
	padding: 1em 0;
	text-align: right;
}

nav a {
	color: #052622;
	padding: 0 2em;
	margin: 1em;
	text-decoration: none;
}

/*.navbar a:hover {
	background-color: #80E3D7;
}*/

h1 {
	float: left;
	padding: .5em 0 0 1em;
}

section {
	/*background-color: red;*/
	padding: 1em;
}

h2 {
	text-align: center;
}

#hello, #about {
	margin: auto;
	width: 40em;
}

img {
	width: 500px;
}

footer {
	/*background-color: #A4D6CA;*/
	font-weight: bold;
	padding: 3em 0;
	text-align: center;
}




/*index*/

#portrait img {
	border-radius: 50%;
}

#portrait img, #bio p {
	display: block;
	float: left;
	padding: 2em 1em;
	width: 42%;
}




/*masks*/

#products {
	/*margin: 0 auto;*/
}

.mask {
	background-color: #FAFFF7;
	border-radius: 8px;
	margin-bottom: 2em;
	padding: 2em 1.5em 5em 1.5em;
}

#kids, #adults, #specialty {
	margin: 0 auto;
	width: 50%;
}

h3 {
	text-align: center;
	padding: 1em 0;
}

#kids img, #adults img, #specialty img {
	border-radius: 8px;
	width: 100%;
}





.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
