@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;700&family=Rubik:wght@500;700&display=swap');


* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eff5f5;
	font-color: #000000;
	font-family: 'Karma', serif;
	font-size: 16px; /*1m = 16px*/
	line-height: 1.5em;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
}

#navbar, h1, h2, h3, a {
	font-family: 'Rubik', sans-serif;
}

#navbar {
	background-color: #eff5f5;
	font-weight: bold;
	padding: .5em;
	text-align: right;
	text-transform:	uppercase;
}

#navlinks {
	padding: 1.5em 0 0 0;
}

#navlinks a {
	padding: 1.5em;
}

#logo img, #logo a {
	float: left;
	height: 5em;
}

#navlinks a:hover {
	background-color: #ffc0cb;
}

#lander {
	background: url(../images/rainbowcake.jpg) no-repeat, center, fixed;
	background-size: cover;
	background-height: 100%;
	color: #ffc0cb;
	padding: 15em;
	text-align: center;
}

#message, #order, #info {
	padding: 5em;
}

#message {
	background-color: #eff5f5;
}

#order {
	background-color: #76b7ba;
}

#info {
	background-color: #eff5f5;
}

#location, #hours {
	float: left;
	width: 20em;
}

div {
	padding: 0 0 1em 0;
}

h1, h2 {
	text-shadow: 
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

h1 {
	font-size: 5em;
	padding-bottom: .5em;
}

h2 {
	font-size: 3.5em;
	padding-top: .5em;
}

h3 {
	padding: 0 0 1em 0;
}

p, h3, #both {
	width: 40em;
	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

#grubhub {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

ul {
	list-style: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer {
	background-color: #76b7ba;
	padding: 3.5em;
	text-align: center;
}

@media only screen and (max-width: 900px) {
	h1 {
		font-size: 400%;
	}

	h2 {
		font-size: 250%;
	}
}

@media only screen and (max-width: 800px) {
	#lander {
		padding: 5em;
	}

	#info {
		float: none;
	}

	#message, #order, #info {
		padding: 2em;
	}

	#location, #hours {
			width: 20em;
	}

	p, h3 {
		width: 90%;
	}
}

@media only screen and (max-width: 600px) {
	#location, #hours {
			float: none;
			margin: 0 auto;
			padding: 2em 0;
	}
}

@media only screen and (max-width: 400px) {
	p, h3, #both {
    	width: 15em;
    	margin: 0 auto;
	}

	#logo {
		background-color: #76b7ba;
	}

	#logo img, #logo a {
		background-color: #76b7ba;
		float: none;
		align-items: center;
		height: 10em;
	}

	#lander {
		display: none;
	}

	#navbar {
		background-color: #eff5f5;
		font-weight: bold;
		text-align: center;
		text-transform:	uppercase;
	}

	#navlinks, #navlinks a {
		display: block;
		float: none;
	}

	img#grubhub  {
		width: 100%;
	}

}




















