@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&family=Vollkorn:wght@400;700&display=swap');

* {
	padding: 0;
	margin:0;
}

body {
	font-family: 'Vollkorn', serif;
	font-size: 16px; /*1m = 16px*/
	line-height: 1.5;
}

header a {
	color: inherit;
	padding: .75em;
}

#navbar {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
	color: #373737;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
}

h1, h2, h3, #navbar a {
	font-family: 'Rubik', sans-serif;
}

h1 {
	font-size: 6em;
	line-height: 1em;
	margin: 2em 0 0 0;
	padding: 0;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	line-height: 1em;
	margin: 0 0 8em 0;
	padding: 0;
	text-align: center;
}

.picture {
	background-color: #FFC675;
	border: 1px black solid;
    padding: 20px;
    margin: 20px;
}

.description {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
    margin: 20px;
}

h3 {
	font-size: 2em;
	line-height: 3em;
}

hr {
	background-color: #eb5ac2;
	border: none;
	padding: 1px;
	width: 20em;
	margin: 0 0 2em 0;
}

p, li {
	font-family: 'Vollkorn', serif;
	width: 30em;
}

a {
	color: #eb5ac2;
	text-decoration: none;
	border-bottom: 1px, solid, #eb5ac2;
}

img {
	width: 50%;
}

#wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	margin: 0 auto;
	width: 85%;
}

#one, #two, #three, #four {
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	color: #484848;
	border: 1px black solid;
    padding: 20px;
}