/**html {
	background: url("../images/machine_notions.jpeg");
	background-size: cover;
	background-repeat: none;
}
*/
nav {
	text-align: right;
}

h1, h2 {
	text-align: left;
	font-family: helvetica, sans-serif;
}

body {
	text-align: left;
	font-family: helvetica, sans-serif;
	color: #ffffff;
	margin: 10px;
	padding: 10px;
	border: 10px;
}

h3, ul {
	text-align: left;
}

div {
	background-color: #373737;
	margin: 10px;
	padding: 10px;
	border: 10px;
}