/*html {
	background: url("../images/machine_notions.jpeg");
	background-size: cover;
	background-repeat: none;
}
*/
h1, h2 {
	text-align: center;
	font-family: helvetica, sans-serif;
}

body {
	text-align: left;
	font-family: helvetica, sans-serif;
}

h3, ul {
  text-align: left;
  list-style: inside;
}