h1 {
	text-align: center;
}

body {
	text-align: center;
	font-family: helvetica, sans-serif;
	
	background-image: url("images/straightpins.jpg");
	background-size: cover;
	background-position: center;
	background-color: #FFFFFF;
}

